body{
    overflow: unset;
}

/* HEADER  */

header{
    position: sticky;
    top: 0;
    z-index: 10;
}

/* Navigation */

.navigation{
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin:  0 auto;
    padding: 1rem 0;
    gap: 2rem;
    background-color: var(--white_300);
    border-radius: 0 0 5px 5px;
    z-index: 100;
    height: 7rem;
}

.navigation li{
    font-size: 2rem;
    line-height: 2rem;
    padding: 1rem;
    cursor: pointer;
    border-radius: 5px;
}

.navigation li:hover,
.navigation li.active{
    background-color: var(--white_200);
}


/* Article Container */
.articles_container {
    max-width: 75%;
    margin: 4rem auto;
}

/* Articles Header */

.header_copy{
    margin-bottom: 3rem;
}

.header_copy h1{
    font-size: 4rem;
    line-height: 5rem;
    margin-bottom: 1rem;
    text-align: center;
}

.header_copy h2{
    font-size: 2.5rem;
    line-height: 2.75rem;
    font-style: italic;
    text-align: center;
}

/*  Articles container */

article h3{
    font-size: 3rem;
    margin-top: 3rem;
}

article :is(p, li){
    font-size: 2rem;
    line-height: 4rem;
}

article :is(ol, ul){
    margin-left: 3rem;
}

@media(max-width: 900px){
    .articles_container{
        max-width: 90%;
    }

    .header_copy h1 span{
        display: block;
    }
}


.mobile_gif{
    max-width: 30rem;
    display: block;
    margin-left: auto;
    margin-right: auto;
}