body{
    overflow: unset;
}



/* HEADER  */

header{
    text-align: center;
    padding-top: 4rem;
    position: sticky;
    top: 0;
    z-index: 10;
}

header h1{
    font-size: 4rem;
    line-height: 5rem;
    margin-bottom: 1rem;
}

header h2{
    font-size: 2.5rem;
    line-height: 2.75rem;
    font-style: italic;
}



/* Navigation */

.navigation{
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 26%;
    width: 100%;
    margin:  0 auto;
    margin-top: 5rem;
    padding: 1rem 0;
    gap: 2rem;
    background-color: var(--white_300);
    border-radius: 5px;
    z-index: 100;
    height: 7rem;
}

.navigation li{
    font-size: 2rem;
    line-height: 2rem;
    padding: 1rem;
    cursor: pointer;
    border-radius: 5px;
}

.navigation li:hover,
.navigation li.active{
    background-color: var(--white_200);
}


.articles_container {
    max-width: 75%;
    margin: 4rem auto;
}


.articles_container p{
    font-size: 2rem;
    line-height: 4rem;
}