#workouts_list{
    position: relative;
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
    height: 80vh;
    padding: 0 0 3rem 0rem;
    margin-bottom: 3rem;
    margin-top: 3rem;
    width: 100%;
    overflow: auto;

    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

#workouts_list::-webkit-scrollbar {
    display: none;
}


/* Workout Card */

.workout_card{
    position: relative;
    width: 100%;
    padding: 1.5rem 1.5rem 1.5rem 2rem;
    background-color: var(--white_200);
    margin-bottom: 2rem;
    border-radius: 5px;
    cursor: pointer;
}
@media(max-width: 1100px){
    .workout_card:last-child{
        margin-bottom: 0px;
    }
}

.workout_card::after{
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 5px;
    height: 100%;
    border-radius: 5px 0px 0px 5px;
}

.workout_card[workout-type="running"]::after{
    background-color: var(--blue)
}

.workout_card[workout-type="cycling"]::after{
    background-color: var(--purple);
}

.workout_card :is(p, li){
    font-size: 1.8rem;
}

.workout_card h3{
    text-transform: capitalize;
    font-size: 2.5rem;
    letter-spacing: 0.08rem;
    margin-bottom: 0.5rem;    
    font-family: var(--secondary_font);
}

.workout_card ul{
    list-style: none;
    display: flex;
    gap: 1rem;
    margin-top: 1rem;
}

.workout_card span{
    font-size: 1.4rem;
    font-weight: 600;
    text-transform: uppercase;
}


/* Workout card actions */

.workout_card__actions{
    position: absolute;
    top: 1.5rem;
    right: 1rem;
    display: flex;
}

.workout_card__actions button{
    cursor: pointer;
    background: transparent;
    border: none;
    border-radius: 5px;
    padding: 0.5rem;
    flex: 0 0 auto;
    max-width: 50%;
    width: 100%;
}

.workout_card__actions button:hover{
    background-color: var(--white_100);
}

.workout_card__actions button:hover img{
    opacity: 0.8;
}

/* Empty Message */

#empty_message{
    display: flex;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 100%;
    text-align: center;    
    align-items: center;
    justify-content: center;
    gap: 2rem;
    z-index: 1;
}

#empty_message h2{
    font-size: 4rem;
    letter-spacing: 0.05rem;
    color: var(--yellow);
}