#app_container{
    display: flex;
    max-width: 98vw;
    height: 95vh;
    border-radius: 10px;   
    overflow: hidden; 
    margin: 2rem auto 0 auto;
    background-color: var(--green_300);    
}

#form_container{
    width: 30%;
    padding: 2rem;
}

#map_container{
    width: 70%;
}