
@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@700&display=swap');

:root{
    --white_100: #f2f2f2;
    --white_200: #E0E0E0;
    --white_300: #BDBDBD;

    --grey_400: #828282;
    --grey_500: #4F4F4F;
    --grey_600: #333333;

    --grey_500_rgba: rgba(79,79,79,0.8);

    --red: #EB5757;
    --blue: #2F80ED;
    --yellow: #ed842f;
    --green: #10ac56;
    --purple: #5a0b8e; 

    --font: 'Barlow Semi Condensed', sans-serif;
    --secondary_font:  'Dosis', sans-serif;
}

*{
    margin: 0;
    padding: 0;
}

*,
*::before,
*::after{
    box-sizing: inherit;
}


html{
    box-sizing: border-box;
    font-size: 62.5%;
    min-height: calc(100vh - 2 * 4vw);
}

@media (max-width: 500px){
    html{
        font-size: 50%;        
    }
}

body{
    font-family: var(--font);
    line-height: 1.6;
    background-color: var(--white_100);
    min-height: calc(100vh - 2 * 4vw);
    overflow: hidden;
}

body :is(h1,h2,h3,p,span,li,a,option,label,input,select,button){
    color: var(--grey_600);
    font-family: var(--font);
}

img{
    display: block;
    width: 100%;
}

/* Global SRotate Spinner */

.la-ball-clip-rotate-pulse{
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.hidden{
    display: none !important;
}
