#sort_menu{
    position: relative;    
    width: 100%;
    display: flex;
    justify-content: space-between;
    background-color: var(--white_200);
    padding: 1.5rem;
    border-radius: 5px;
    gap: 1rem;
}


#filter_img{
    max-width: 2.4rem;
}

/* Dropdowns */

.sorting_dropdowns{
    display: flex;
    width: 65%;
    gap: 1rem;
}

#sort_menu select{    
    border-radius: 5px;
    border: none;
    color: var(--grey_600);
    padding: 0.5rem;
    width: 50%;
}

/* Button */

.sorting_buttons{    
    display: flex;
    justify-content: right;
    width: 35%;
    gap: 1rem;    
}


#sort_menu button{    
    position: relative;
    background-color: transparent;
    border: none;
    padding: 0.5rem  0.25rem;
    border-radius: 5px;
    cursor: pointer;
    width: 22%;
}

#sort_menu button::after{    
    content: attr(tile);
    position: absolute;
    top: -50%;
    left: 50%;
    transform: translate(-50%, -40%);
    width: 12.5rem;    
    display: block;    
    border-radius: 5px;
    padding: 0.2rem 0;
    opacity: 0;
    overflow: hidden;
    transition: all 0.2s;
    font-size: 1.4rem;
    color: var(--white_100);
}

#reset_filters::after, #map_view_all::after{
    background-color: var(--grey_600);
}

#delete_all_workouts::after{
    background-color: var(--red);
}

#sort_menu button:hover:after{
    opacity: 1;
    overflow: auto;
    transition: all 0.2s;
}


#sort_menu button img{
    max-width: 100%;
    margin: 0 auto;
}

#sort_menu button:hover{
    background-color: var(--white_100);
}

#sort_menu button:hover img{
    opacity: 0.8;
}


/* Active Filters */
#active_filters{
    width: 100%;
    display: flex;
    background-color: var(--white_200);
    border-radius: 5px ;
    margin-top: 1rem;
    padding: 1.5rem;
    gap: 1rem;
}

#active_filters p{
    font-size: 1.3rem;
    font-weight: 600;
}

#active_filters_list{
    list-style: none;
    display: flex;
    gap: 1rem;
}

#active_filters_list li{
    font-size: 1.3rem;
}

#active_filters_list :not(li:first-child)::before{
    content: "/";
    font-size: 1.3rem;
    margin-right: 1rem;
    font-weight: bold
}