#sort_menu{
    position: relative;    
    width: 100%;
    display: flex;
    justify-content: space-between;
    background-color: var(--white_200);
    padding: 1.5rem;
    border-radius: 5px;
    gap: 1rem;
}


#filter_img{
    max-width: 2.4rem;
}

/* Dropdowns */

.sorting_dropdowns{
    display: flex;
    width: 70%;
    gap: 1rem;
}

#sort_menu select{    
    border-radius: 5px;
    border: none;
    color: var(--grey_600);
    padding: 0.5rem;
}

#workouts_type_filter{
    width: 40%;
}

#workouts_prop{
    width: 60%;
}

/* Button */

.sorting_buttons{    
    display: flex;
    justify-content: center;
    width: 20%;
    gap: 0.5rem;    
}


#sort_menu button{    
    position: relative;
    background-color: transparent;
    border: none;
    padding: 0.5rem  0.25rem;
    border-radius: 5px;
    cursor: pointer;
    width: 4rem;
}

#sort_menu button::after{    
    content: attr(tile);
    position: absolute;
    top: -50%;
    left: 50%;
    transform: translate(-50%, -40%);
    width: 12rem;    
    display: block;    
    border-radius: 5px;
    padding: 0.2rem 0;
    opacity: 0;
    overflow: hidden;
    transition: all 0.2s;
    font-size: 1.4rem;
    color: var(--white_100);
}

#reset_filters::after{
    background-color: var(--grey_600);
}

#delete_all_workouts::after{
    background-color: var(--red);
}

#sort_menu button:hover:after{
    opacity: 1;
    overflow: auto;
    transition: all 0.2s;
}


#sort_menu button img{
    max-width: 80%;
    margin: 0 auto;
}

#sort_menu button:hover{
    background-color: var(--white_100);
}

#sort_menu button:hover img{
    opacity: 0.8;
}

/* Common Styles Media Query */

@media(max-width: 768px){ 
    .sorting_dropdowns{
        width: 50%;
        flex-direction: column;
    }

    #sort_menu select{
        width: 100%;
    }

    .sorting_buttons{
        width: 50%;    
        align-items: center;          
    }
}