#global__window{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--grey_500_rgba);    
    z-index: 1000;
}

#internal_window{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: var(--white_100);
    z-index: 10001;

    width: 45rem;
    height: 15rem;
    padding: 1rem;
    border-radius: 5px;
    

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    border-left: 0.6rem solid transparent;
}

#internal_window h3{
    text-align: center;
    font-size: 1.8rem;    
}

#internal_window p{
    font-size: 1.5rem;
}

#internal_window__buttons{
    display: flex;
    justify-content: space-between;
    max-width: 50%;
    width: 100%;
    margin: 0 auto;    
}


#internal_window__buttons button{
    display: block;
    width: 45%;
    border: none;
    color: var(--white_100);
    padding: 1rem;
    border-radius: 5px;
    cursor: pointer;
}

#internal_window__buttons button:hover{
    opacity: 0.8;
}

button#delete, button#edit{
    display: none;
}

#global__window.delete button#delete{
    display: block;
}

#global__window.edit button#edit{
    display: block;
}

button#delete{
    background-color: var(--red);
}

button#cancel_delete{
    background-color: var(--grey_500);
}

button#edit{
    background-color: var(--yellow);
}

/* 
------------
    TOAST 
-------------
*/

#toast{
    position: fixed;    
    opacity: 0;
    bottom: 4%;
    right: -100%;
    transition: ease-out 2s;

    z-index: 1000;
    width: 30rem;
    min-height: 10rem;
    padding: 1rem;
    background-color: var(--white_200);
    border-radius: 5px;
    border-left: 0.6rem solid transparent;


    -webkit-box-shadow: 0px 0px 8px -1px rgba(0,0,0,0.8); 
    box-shadow: 0px 0px 8px -1px rgba(0,0,0,0.8);
}

#toast.show_toast{
    opacity: 1;
    right: 2%;
    transition: ease-in 0.8s;
}

#toast.error{
    background-color: var(--red);
}
#toast.warning{
    background-color: var(--yellow);
    border-left-color: var(--yellow);
}

#toast.error :is(h3, p),
#toast.warning  :is(h3, p){
    color: var(--white_100);
}

#toast h3{
    font-size: 1.8rem;
}

#toast p{
    font-size: 1.5rem;
}

#toast #close_toast{
    position: absolute;
    top: 0.625rem;
    right: 0.625rem;
    background-color: var(--white_100);
    border: none;
    border-radius: 5px;
    width: 2.5rem;
    height: 2.5rem;
    cursor: pointer;
}

/*Common State classes */

#global__window.delete #internal_window,
#toast.delete{
    border-left-color: var(--red);
}

#global__window.edit #internal_window,
#toast.edit{
    border-left-color: var(--yellow);
}

#toast.success{
    border-left-color: var(--green);
}