#widgets_container{
    background-color: var(--green_400);
    border-radius: 5px;
    width: 100%;
    display: flex;
    align-items: center;
    padding: 1rem 2rem;
    
}

/* Clock widget */

#clock{
    position: relative;
    display: flex;
    align-items: baseline;
    gap: 2rem;
    width: 50%;
    text-align: center;
}

#clock::after{
    content: "";
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 0;
    height: 80%;
    width: 2px;
    background-color: var(--green_200);
    border-radius: 5px;
}

#clock h3{
    font-family: var(--secondary_font);
    font-size: 3rem;
    line-height: 3.5rem;
    letter-spacing: 0.06rem;
}

#clock p{
    font-size: 2rem;
}

/* Weather Widget */

#weather{
    width: 50%;
    display: flex;
    justify-content: center;
    gap: 1rem;
}

#weather img{
    max-width: 3.5rem;
    min-height: 3.5rem;
}

#weather p{
    font-size: 2rem;
}